.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centraliza horizontalmente */
  justify-content: flex-start; /* alinhado no topo */
  min-height: 100vh;
  padding-top: 4rem;     /* espaço entre topo e formulário */
  color: #333;
}
